* {
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* body { */
/* background: linear-gradient(
      rgba(255, 255, 255, 0.671) 80%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    url('./images/heroimage.jpg') center center / cover no-repeat;

  height: 100%;
  width: 100%; */
/* height: 100%;
  background: rgb(84, 205, 69);
  background: linear-gradient(
    0deg,
    rgba(84, 205, 69, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
/* } */

/* body {
  background: rgb(201, 255, 191);
  background: linear-gradient(
    0deg,
    rgba(201, 255, 191, 1) 20%,
    rgba(234, 207, 190, 1) 40%,
    rgba(249, 185, 189, 1) 60%,
    rgba(225, 220, 190, 1) 80%,
    rgba(201, 255, 191, 1) 100%
  );
} */
